/* header */

.header {
    padding: 69px 162px;
    background-color: #FFFFFF;
    width: 100%;
    height: 191.72px;
    vertical-align:middle;
position: fixed;}

.logo-image {width: 36.58px;
    height: 53.72px;
    vertical-align: middle;
    display: inline-block;
}
.logo-text {
    display: inline-block;
    vertical-align: middle; 
    /* font-family: 'Roboto-bold'; */
    font-family: 'Roboto', sans-serif; 
    font-size: 38px; 
    line-height: 44.53px; 
    font-weight: 700;
    color: #274C5B;
}
.navigation {display: inline-block; margin-left: 150px; vertical-align: middle; font-size: 20px; word-spacing: 50px;}
.nav-li { display: inline-block; }
.nav-text {
    vertical-align: middle; 
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    line-height: 23.44px; 
    font-weight: 700;
    color: #274C5B;
    display: inline-block;
}
.active-link {color:red; }





/* main */
.div1 {width: 100%;
height: 579px; 
margin-left: 260px;
margin-top: 49.28;

}
.div-1 {display: inline-block; 
    width: 671px;;
    height: 258px;
    margin-top: 160.5px;
    margin-bottom: 160.5px;
  
}
.nino {display: inline-block;
    margin-top: 191px;}
.section {background-color: #F9F8F8; width: 100%;
height: 1429px; }

.text {vertical-align: middle;}
.text1 {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 49.06px;
    color: #7EB693;
   }

.text2 { font-family: 'Roboto', sans-serif; 
    font-size: 50px; 
    line-height: 58.59px; 
    font-weight: 800;
    width: 524px;
    height: 118px;
    color: #274C5B;
   
}

.text3 { font-family: 'Open Sans', sans-serif;
       font-size: 18px; 
    line-height: 29.77px; 
    font-weight: 400;
    color: #525C60;
    width: 671px;
    height: 60px;
  
}

.img {display: inline-block; width: 678px; height: 579px; vertical-align:top; margin-left: 100px; margin-top: 40px;}



.allblocks {height: 335px; width: 1130px; margin-left: 401px;}
.blocks {height: 335px; width: 257px; display: inline-block; background-color: white;}
.blocks-title {font-family: 'Roboto', sans-serif; font-size:25px; font-weight: 800; line-height: 29.3px;
    margin-top: 28px; 
    margin-left: 22px; }
.blocks-text { font-family: 'Open Sans', sans-serif; font-size:18px; 
    font-weight: 400; line-height: 29.77px; text-align: center;
     color: #525C60; column-width: 184px; margin-top: 20px; 
     margin-left: 36px; margin-right: 36px;
}
.size { margin-right: 30px;}
.section1 {margin-top: 91px;}